astroid==2.6.2
backports.entry-points-selectable==1.1.0
cfgv==3.3.0
click==8.0.1
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
identify==2.2.11
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
nodeenv==1.6.0
platformdirs==2.0.2
pre-commit==2.13.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.9.3
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
virtualenv==20.6.0
Werkzeug==2.0.1
wrapt==1.12.1
